@import './reset.scss';
@import './variables/globals.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

.app {
    font: var(--font-m);    
    
    background: var(--bg-color);
    color: var(--primary-color);
    color: rgb(28, 204, 166);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    padding: 1rem;
    flex-grow: 1;
}