// .app_dark_theme {
//     --bg-color: #66666b;
//     --inverted-bg-color: #2e2e2d;
//     --primary-color: #f5eeee;
//     --secondary-color: #090a09;
//     --inverted-primary-color: #818584;
//     --inverted-secondary-color: #990799;
// }

.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
