.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e6e9e2;
    --primary-color: #049604;
    --secondary-color: #f9fcf9;
    --inverted-primary-color: #818584;
    --inverted-secondary-color: #990799;
}
