.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #4a7406;

    --primary-color: #049604;
    --secondary-color: #04ff04;

    --inverted-primary-color: #11b8aa;
    --inverted-secondary-color: #990799;
}