// .app_light_theme {
//     --bg-color: #e8e8ea;
//     --inverted-bg-color: #a4a4a7;
//     --primary-color: #0f0f0f;
//     --secondary-color: #353638;
//     --inverted-primary-color: #333d32;
//     --inverted-secondary-color: #040804;
// }

.app_light_theme {
    --bg-color: #f2f2f8;
    --inverted-bg-color: #030331;
    --primary-color: #070707;
    --secondary-color: #0449e0;
    --inverted-primary-color: #f3f711;
    --inverted-secondary-color: #049604;
}
