.app_light_theme {
    --bg-color: #f2f2f8;
    --inverted-bg-color: #030331;
    --primary-color: #070707;
    --secondary-color: #0449e0;
    --inverted-primary-color: #f3f711;
    --inverted-secondary-color: #049604;
}
